@import 'nib' // CSS3 extensions for Stylus: http://visionmedia.github.io/nib/

// variables!

slide_width = 720px
slide_height = 540px
slide_background = #222

slide_transition_length = .3s
slide_transition_easing = ease
slide_transition_rotate_y = 90deg
// Safari bugs out on 3d transform-origins, so we have to fake it
slide_transition_nudge_x = -100px

bullet_transition_length = .4s
bullet_transition_easing = ease
bullet_transition_translate_x = 5px
bullet_transition_translate_y = 0
bullet_transition_translate_z = 100px

body_background = slide_background

header_font = 'Permanent Marker', cursive
sans_font   = 'Bubbler One', sans-serif
base_font   = 'Open Sans', sans-serif

yellow = #ffcc00
red = #cc0000
orange = #ff6600
light_orange = #ff9933
green = #009900
beige = #ff9966
blue = #3276b1
dark_blue = #285e8e
light_blue = #6699cc

highlight_color = orange
progress_bar_color = light_orange

// base

*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

// bespoke.js layout styles

.author
  background: red
article
  // transition: background slide_transition_length slide_transition_easing
  display: none
  font-family: base_font
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    @media print
      overflow: visible
      position: static
    perspective: 600px
    &.intro
      background: green

.bespoke-slide
  transition:
    opacity slide_transition_length slide_transition_easing,
    background slide_transition_length slide_transition_easing
  transform-origin: 50% 50% 0
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  background: body_background
  padding: 40px
  border-radius: 0
  @media print
    zoom: 1 !important // disable bespoke-scale
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0

.bespoke-before
  // transform: translateX(slide_transition_nudge_x * -1) translateX(slide_width / -2) rotateY(slide_transition_rotate_y * -1) translateX(slide_width / -2)

.bespoke-after
  // transform: translateX(slide_transition_nudge_x) translateX(slide_width / 2) rotateY(slide_transition_rotate_y) translateX(slide_width / 2)
  @media print
    transform: none

.bespoke-inactive
  opacity: 0
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  opacity: 1

// bespoke-bullet styles
.bespoke-bullet
  // transition: all bullet_transition_length bullet_transition_easing

.bespoke-bullet-inactive
  opacity: 0
  li&
    transform: translate3d(bullet_transition_translate_x, bullet_transition_translate_y, bullet_transition_translate_z)
  @media print
    opacity: 1

.bespoke-bullet-active
  opacity: 1

// bespoke-scale styles

.bespoke-scale-parent
  perspective: 600px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  @media print
    transform: none !important

// bespoke-progress styles

.bespoke-progress-parent
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 2px
  @media only screen and (min-width: 1366px)
    height: 4px
  @media print
    display: none

.bespoke-progress-bar
  transition: width .6s ease
  position: absolute
  height: 100%
  background: progress_bar_color
  border-radius: 0 4px 4px 0

// bespoke-state styles

.emphatic,
.emphatic .bespoke-slide
  background: slide_background

.byline
  text-align: center
  font-family: header_font

  &:before, &:after
    background: #fff
    content: " "
    display: inline-block
    height: 1px
    position: relative
    vertical-align: middle
    width: 50%
  &:before
    right: 0.5em
    margin-left: -50%
  &:after
    left: 0.5em
    margin-right: -50%

// prism styles

code
  display: block // fixes flexbox rendering issues in Safari
  padding: 26px !important

// content styles

body
  font-family: helvetica, arial, sans-serif
  font-size: 18px
  color: #FFF
  background: body_background

h1
  font-size: 72px
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px

h2
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 8px

h3
  font-size: 24px
  font-weight: normal
  margin-bottom: 24px
  color: #e6e6e6

hr
  // visibility: hidden
  color: light_orange

ul
  list-style: none

li
  margin-bottom: 12px

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: #0089f3
  text-decoration: none

input
  font-size: 32px
  line-height: 34px
  margin: 10px
  padding: 5px

button
  font-size: 32px
  line-height: 34px
  border-radius: 5px
  padding: 5px
  border: 1px solid #333
  background: blue
  border-color: dark_blue
  color: #FFF

table
  tr th
    font-weight: 800
  td
    margin-right: 4px

img
  width: slide_width - 20px

section
  .the_good, .the_bad
    font-size: 2.5rem
    font-weight: 600
  .the_good
    color: green
  .the_bad
    color: red

.left_text
  text-align: left

span
  color: highlight_color

em
  color: blue

.red
  color: orange

.large
  font-size: 2.0rem

.interactive_2
  .add
  .today
    color: highlight_color
    font-size: 2.5rem
    font-weight: 600
    font-weight: 600
